manuscripts/
materials/
output_comparisons/
refs/Candida_auris_B8441/Genbank/Cand_auris_B8441_V2/Notes.txt
refs/Candida_auris_B8441/Genbank/Cand_auris_B8441_V2/Annotation/
refs/Candida_auris_B8441/Genbank/Cand_auris_B8441_V2/Sequence/
refs/Candida_auris_B8441/Genbank/Cand_auris_B8441_V2/VCF/*
!refs/Candida_auris_B8441/Genbank/Cand_auris_B8441_V2/VCF/B11221_CA05_contigs_rename.vcf.gz
!refs/Candida_auris_B8441/Genbank/Cand_auris_B8441_V2/VCF/B11245_CA06_contigs_rename.vcf.gz
!refs/Candida_auris_B8441/Genbank/Cand_auris_B8441_V2/VCF/Cauris_contigs_rename.txt
!refs/Candida_auris_B8441/Genbank/Cand_auris_B8441_V2/VCF/cauris.consensus_contigs_rename_split_edited.vcf.gz