#CONFIGURATION FILE (options not used are commented) 

#INPUT OPTIONS 
#receptor =
#ligand =
#flex = [flexible residues in receptor in pdbqt format] 
#SEARCH SPACE CONFIGURATIONS 
#Center of the box (values bxi, byi and bzi) 
center_x =
center_y =
center_z =
#Size of the box (values bxf, byf and bzf) 
size_x =
size_y =
size_z =
#OUTPUT OPTIONS 
#out = 
#log = 

#OTHER OPTIONS 
cpu =
exhaustiveness = 32
num_modes =
#energy_range = 
seed =